*{
    background-color: rgb(114, 110, 110);
}

.wrapper {
    width: 100%;
}

.student-dashboard {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scroll on small screens */
    border-top: 1px solid rgb(224, 224, 224);
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
 
  }
  
  .student-table {
     
    position: sticky;
    width: 100%;
    border-collapse: collapse;
  }
  
  .student-table th,
  .student-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Media queries for different screen sizes */
  
  /* Small screens */
  @media (max-width: 767px) {
    .student-dashboard {
      overflow-x: hidden; /* Hide horizontal scroll on small screens */
    }
  
    .student-table th,
    .student-table td {
      white-space: nowrap; /* Prevent table cells from wrapping */
    }
  }
  